@use "./settings" as settings;
@import "./settings";


h1, h2, h3, h4, h5, p {
    margin: 0;  
}
.articleContainer {
    position: relative;
    margin: settings.$gap 0;
    padding: settings.$padding;
    h1,h2,h3,h4,h5,h6,p {
        margin: 0;
        padding: 0;
    }
    .articleHeader {
        font-size: 13px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: settings.$phone) {
            font-size: 12px;
        }
        .retour {
            display: flex;
            flex-direction: row;
            gap: calc(settings.$gap/2);
            align-items: center;
            border-radius: 10px;
            background-color: settings.$bgcolor1;
            width: fit-content;
            padding: 5px 10px;
            @media screen and (max-width: settings.$phone) {
                padding: 3px 6px;
            }
            cursor: pointer;
            &:hover {
                p {
                    font-weight: 600;
                    
                }
            }
            .icon {
                width: 24px;
                height: 24px;
                transition: 0.1s;
                color: settings.$color2;
            }
            p {
                transition: 0.1s;
                font-size: settings.$p;
                color: settings.$color2;
                @media screen and (max-width: settings.$phone) {
                    font-size: 14px;
                }
            }
        }
        h2 {
        font-family: settings.$rb;
        padding: settings.$padding;
        @media screen and (max-width: settings.$phone) {
            font-size: 16px;
        }
        }
        .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: settings.$gap;
        }
        border-bottom: 1px solid settings.$bgcolor1;
        #auteurp {
            color: settings.$bgcolor1;
            cursor: pointer;
        }
        }
        #contenu {
            margin-bottom: -130px;
            h3 {
                font-size: settings.$h3;
                margin: 10px 0;
                @media screen and (max-width: settings.$phone) {
                    font-size: 14px;
                }
                
            }
            p {
                font-size: settings.$p;
                padding: 3px;
                @media screen and (max-width: settings.$phone) {
                    font-size: 12px;
                }
            }
            a {
                color: $bgcolor1;
            }
           
        }
        #nextarticle {
            position: absolute;
            right: 50px;
            bottom: 0;   
        }
    }


