@use "_settings" as settings;


header {
    .top {
        width: 100vw;
        height: 80px;
        background: settings.$bgcolor1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
        @media screen and (max-width: settings.$tablet) {
            padding: 0 30px;
        }
        @media screen and (max-width: settings.$phone) {
            flex-direction: column;
            height: 200px;
            padding: 20px 0;
        }
        img {
            width: 100px;
            height: 80px;
        }
        .search {
            position: relative;
            display: flex;
            height: 50px;
            width: 300px;
            background-color: settings.$bgcolor2;
            border-radius: settings.$br;
            padding: 0 settings.$padding;
            padding-right: 30px;
            @media screen and (max-width: settings.$tablet) {
                width: 250px;
            }
            
            input {
                height: 50px;
                width: 100%;
                border: none;
                outline: none;
                padding: 0 settings.$padding *2;
                background-color: transparent;
                border-radius: settings.$br;
                @media screen and (max-width: settings.$phone) {
                     font-size: 11px;  
                }
            }
            .icon {
                position: absolute;
                right: 30px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        border-bottom: 1px solid settings.$color2;
    }
    .bottom {
        text-align: center;
        background-color: settings.$bgcolor1;
        padding: settings.$padding;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .bottom-top {
            display: flex;
            flex-direction: column;
            gap: calc(settings.$gap / 2);
            h3 {
                color: settings.$color2;
                @media screen and (max-width: settings.$phone) {
                    font-size: 15px;
                    
                }
            }
            p {
                @media screen and (max-width: settings.$phone) {
                    font-size: 13px;
                    
                }
                color: settings.$color2;
            }
        }
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: settings.$gap;
            padding: settings.$padding * 2;
            @media screen and (max-width: settings.$tablet) {
                padding: calc(settings.$padding - 3px) ;
                gap: calc(settings.$gap / 2);
            }
            @media screen and (max-width: settings.$phone) {
                padding: calc(settings.$padding - 5px) ;
                gap: calc(settings.$gap / 6);
            }
            a {
                border-radius: settings.$br;
                padding: settings.$padding;
                background-color: settings.$color2;
                color: settings.$color1;
                border: 2px solid transparent;
                font-size: settings.$a;
                &:hover {
                    border: 2px solid settings.$bgcolor2; 
                }
                @media screen and (max-width: settings.$phone) {
                    font-size: 11px;
                    padding: settings.$padding / 2;
                }
                @media screen and (max-width: 400px) {
                    font-size: 9px; 
                }
                
                
            }
            a.active {
                background-color: settings.$bgcolor3;
                color: settings.$color2;
                border: 2px solid settings.$bgcolor2;
            }
        }
    }
    
}